@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,531;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,531;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Raleway", "Nunito", "Poppins", sans-serif;
    background-color: white;
    padding: 0px;
    margin: 0px;
    background-image: url(assets/images/background-1-blurred.jpg);
    background-size: auto;
    background-repeat: no-repeat;
}


.background{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    background-image: url(assets/images/background-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(8px);
}

.box-container{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.box{
    height: 87%;
    width: 75%;
    display: flex;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.image-box{
    height: 100%;
    width: 45%;
    display: inline-flex;
/*    border: 1px solid red;*/
    background-image: url(assets/images/background-1.png);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
/*    flex-shrink: 3;*/
}

.signup-box{
/*    height: 100%;*/
    width: 65%;
    background-color: white;
/*    border: 1px solid red;*/
/*    padding: 40px 64px;*/
/*    margin: auto;*/
    padding: 5% 48px;
    overflow: hidden;
}

.header{
    font-size: 30px;
    font-weight: 700;
}

.icon-language-en{
    text-align: center;
    color: white;
    font-weight: 700;
    line-height: 32px;
    font-size: 12px;
    float: right;
    border-radius: 32px;
    height: 32px;
    width: 32px;
    background-color: #175dd0;
    display: inline-block;
    margin: 4px 0px 4px 8px;
    cursor: pointer;

/*    margin-left: 15 */
}

.icon-language-ja{
    text-align: center;
    color: grey;
    font-weight: 700;
    line-height: 32px;
    font-size: 12px;
    float: right;
    border-radius: 32px;
    height: 32px;
    width: 32px;
    background-color: rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: 4px 0px 4px 8px;
    cursor: pointer;
/*    margin-left: 15 */
}

.bar{
    width: 40px;
    height: 6px;
    border-radius: 6px;
    background-color: #175dd0;
    margin: 8px 0px;
}

.content-flex{
    display: flex;
    width: 100%;
    height: 100%;
/*    border: 1px solid black;*/
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
}

.input-container{
    width: 47%;
    padding: 8px 0px;
}

.input-container-label{
    width: 100%;
    padding: 8px 0px;
}

.input-container-radio{
    width: 100%;
    padding: 12px 0px;
/*    border: 1px solid black;*/
}

.radio-container-1{
    width: 95%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
/*    border: 1px solid black;*/
}

.radio-container-2{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
/*    border: 1px solid black;*/
}


label{
    font-size: 14px;
    font-weight: 700;
    padding: 0px;
    padding-bottom: 8px;
    display: block;
    color: rgba(0, 0, 0, 0.9);

}

.input{
    width: 100%;
    height: 32px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.25);
    border-width: 1px;
/*    box-shadow: 0px 8px 11px rgba(0, 0, 0, 0.1);*/
/*    padding: 16px;*/
    padding: 4px 8px;
    font-size: 16px;
    line-height: 16px;
}

.input-invalid{
    width: 100%;
    height: 32px;
    border-radius: 5px;
    border: 1.5px solid red;
/*    box-shadow: 0px 8px 11px rgba(0, 0, 0, 0.1);*/
/*    padding: 16px;*/
    padding: 4px 8px;
    font-size: 16px;
    line-height: 16px;
}

.input-valid{
    width: 100%;
    height: 32px;
    border-radius: 5px;
    border: 1.5px solid #175dd0;
/*    box-shadow: 0px 8px 11px rgba(0, 0, 0, 0.1);*/
/*    padding: 16px;*/
    background-color: rgb(232, 240, 254);
    padding: 4px 8px;
    font-size: 16px;
    line-height: 16px;
}




input[type = radio]{
    font-size: 16px;
    height: 16px;
    width: 16px;
    padding-bottom: 4px;
    padding-right: 8px;
    margin: 8px 0px;
/*    line-height: 16px;*/
}


label.label-inline{
    display: flex;
    align-content: flex-end;
    line-height: 16px;
    padding: 0px 8px;
}

.button{
    display: flex;
    justify-content: space-between;
    height: 48x;
    width: 100%;
    margin: 16px 0;
    background-color: #175dd0;
    color: white;
    border-radius: 24px;
    box-shadow: 0px 5px 10px rgba(23, 93, 208, 0.5);
    cursor: pointer;
    }

.button-text{
    font: 20px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
}

.icon-next{
    width: 20px;
    height: 16px;
    margin: 14px 24px;
}

.icon-image{
    object-fit: contain;
    margin: auto;
}

.sign-in-text{
    font-size: 13px;
    font-weight: normal;
    margin: 16px 0px;
    color: rgba(0, 0, 0, 0.5);
}

a.href-signin{
    color: #175dd0;
}

::placeholder{
    color: grba(0, 0, 0, 0.3);
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
}

/*.input-error{*/
    


@media screen and (max-width: 800px) {
    body{
        background-image: url(assets/images/background-1.png);
        background-position: center;
        background-size: cover;
    }
    .box{
    width: 85%;
    height: 100%;
    justify-content: center;
    }
    .input-container{
    width: 100%;    
    }
    .signup-box{
        padding: 32px 16px;
        width: 100%;
        height: auto;
        overflow: scroll;
    }
    .image-box{
        height: auto;
        width: 0%;
    }
}

